.survey-container {
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 100px; 
}

.survey-container::-webkit-scrollbar {
  display: none;
}

.survey-step {
  text-align: center;
}

.survey-step-title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 24px;
}

.survey-button-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;
}

.survey-button {
  width: 100%;
  padding: 14px;
  border: 1px solid #CECECE;
  background-color: #FFFFFF;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease;
}

.survey-button:hover, .survey-button:active {
  border-color: #0A84FF;
  /* background-color: #F5F5F5; */
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(10, 132, 255, 0.15);
}

.survey-button.selected {
  background-color: #0A84FF;
  border-color: #0A84FF;
  color: white;
}

.survey-next-button {
  width: 100%;
  max-width: 343px;
  height: 48px;
  border: none;
  background-color: #0A84FF;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 40px;
}

.survey-next-button:hover {
  background-color: #007AEE;
}

.survey-next-button:disabled {
  background-color: #CECECE;
  cursor: not-allowed;
}

.gender-group {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 8px 0 40px;
}

.gender-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.gender-label {
  font-size: 16px;
}

.gender-option input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: #0A84FF;
}

/* 입력 필드 그룹 */
.survey-input-container {
  margin-bottom: 24px;
  text-align: left;
}

/* 입력 필드 라벨 */
.survey-field-label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.survey-button-wrapper {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 16px;
  z-index: 10;
  max-width: 375px;
  margin: 0 auto;
}